
<div class="form">
    <h2 style="text-decoration: underline; margin: 30px;">HOME</h2>
    <form method="post" action="/productos" >
        <label style="margin-bottom: 12px; display: block; font-weight: bold; margin: 10px">Titulo</label>
        <input style="margin-bottom: 12px; display: block; font-weight: bold; margin: 10px" name="title">
        <label style="margin-bottom: 12px; display: block; font-weight: bold; margin: 10px">Precio</label>
        <input style="margin-bottom: 12px; display: block; font-weight: bold; margin: 10px" name="price">
        <label style="margin-bottom: 12px; display: block; font-weight: bold; margin: 10px">Imagen</label>
        <input style="margin-bottom: 12px; display: block; font-weight: bold; margin: 10px" name="photo">
        <button type="submit" style="margin: 10px" >Guardar informacion</button>
    </form>
</div>