
<div class="form">
    <h2 style="text-decoration: underline; margin: 30px;">HOME</h2>
    <form id="productForm" >
        <label style="margin-bottom: 12px; display: block; font-weight: bold; margin: 10px" >Titulo</label>
        <input style="margin-bottom: 12px; display: block; font-weight: bold; margin: 10px" name="title" id="title">
        <label style="margin-bottom: 12px; display: block; font-weight: bold; margin: 10px">Precio</label>
        <input style="margin-bottom: 12px; display: block; font-weight: bold; margin: 10px" name="price" id="price">
        <label style="margin-bottom: 12px; display: block; font-weight: bold; margin: 10px">Imagen</label>
        <input style="margin-bottom: 12px; display: block; font-weight: bold; margin: 10px" name="photo" id="photo">
        <button type="submit" style="margin: 10px" >Guardar informacion</button>
    </form>
</div>
<div id="productsContainer"></div>
{{!--importamos los importamos los scripts
method="post" action="/productos"--}}
{{> importScripts }}
<script src="/socket.io/socket.io.js"></script>
<script src="../public/home.js">
