<div class="contenedor">
    <h2 style="color: rgb(180, 64, 10);">Pagina home</h2>
    <form id="productForm">
        <label style="font-weight:  lighter ;">Titulo</label>
        <input name="title" id="title"/>
        <label style="font-weight:  lighter ;">Precio</label>
        <input name="price" id="price"/>
        <label style="font-weight: lighter ;">Photo</label>
        <input name="photo" id="photo"/>
        <button style="font-weight: bold;" type="submit" id="guardad">Guardar</button>
    </form>
</div>
<div id="productosContainer"></div>
{{!-- importamos los scripts --}}
{{> importScripts }}
<script src="/socket.io/socket.io.js"></script>
<script src="home.js"></script>
