<div style="color: rgb(180, 64, 10);">
    <h2>Centro de Mensajes</h2>
    <form>
        <input id="inputName" type="text" placeholder="name"><br>
        <input id="inputEmail" type="text" placeholder="email"><br>
    <textarea id="inputMensaje" type="text" placeholder="mensaje"></textarea><br>
    <button id="botonEnviar">enviar</button>
    <div id="listaMensajes"></div>
    </form>
    </div>
    {{> importScripts }}
<script src="../public/mensajes.js"></script>